@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.text-c {
  color: #22d2a0;
}

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #c2cad3;
  --sh-sign: #8996a3;
  --sh-string: #007f7a;
  --sh-keyword: #e02518;
  --sh-comment: #a19595;
  --sh-jsxliterals: #6266d1;
  --sh-property: #e25a1c;
  --sh-entity: #e25a1c;
}

.dark {
  --sh-class: #4c97f8;
  --sh-identifier: white;
  --sh-keyword: #f47067;
  --sh-string: #0fa295;
}

pre code {
  counter-reset: sh-line-number;
}

.sh__line::before {
  counter-increment: sh-line-number 1;
  content: counter(sh-line-number);
  margin-right: 24px;
  text-align: right;
  color: #a4a4a4;
}

.prose p code .sh__line::before {
  margin-right: 0px;
  content: '';
}

/* remove line numbers from p > pre > code blocks */

.progress {
  transform-origin: 0 50%;
  animation: scaleProgress auto linear;
  animation-timeline: scroll(root);
}

@keyframes scaleProgress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible;
}

.prose a {
  @apply transition-all underline-offset-2 decoration-[0.1em];
}

.prose .anchor:after {
  @apply text-neutral-300 dark:text-neutral-700;
  content: '#';
}

.prose *:hover > .anchor {
  @apply visible;
}

.prose pre {
  @apply bg-neutral-900 dark:bg-neutral-800 rounded-lg overflow-x-auto border border-neutral-900 dark:border-neutral-300;
}

.prose code {
  @apply px-1 py-0.5 rounded-lg;
}

.prose p code {
  --sh-class: @apply text-neutral-300 dark: text-neutral-700;
  --sh-identifier: @apply text-neutral-300 dark: text-neutral-700;
  --sh-sign: @apply text-neutral-300 dark: text-neutral-700;
  --sh-string: @apply text-neutral-300 dark: text-neutral-700;
  --sh-keyword: @apply text-neutral-300 dark: text-neutral-700;
  --sh-comment: @apply text-neutral-300 dark: text-neutral-700;
  --sh-jsxliterals: @apply text-neutral-300 dark: text-neutral-700;
  --sh-property: @apply text-neutral-300 dark: text-neutral-700;
  --sh-entity: @apply text-neutral-300 dark: text-neutral-700;
}

.prose pre code {
  @apply p-0;
  border: initial;
  line-height: 1.5;
}

.prose code span {
  @apply font-medium;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}
